body {
	background-color: #535353;
	text-align: center;
}

label {
	margin-bottom: -10px;
}

#tool-buttons {
	display: inline-flex;
	padding: 5px;
	border-radius: 10px;
	background-color: #DDDDDD;
}

.tool-button {
	width: 32px;
	height: 32px;
	padding: 4px;
	margin: 0px 5px;
	border-radius: 5px;
	transition: 0.3s all;
}

.tool-button:hover, .active {
	background-color: #AAAAAA;
	filter: invert(100%);
}

.tool-button:active {
	background-color: #666666;
}

#upload-hidden {
	display: none;
}

.slider {
	-webkit-appearance: none;
	width: 40%;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	opacity: 0.7;
	transition: .2s;
	transition: opacity .2s;
	bottom: 5%;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.hidden {
	display: none;
}
