body {
	font-family: 'Muli', sans-serif;
	background-color: #535353;
	color: white;
	text-align: center;
	margin: 0px;
}

.title {
	background-color: #262626;
	width: 40%;
	font-size: 1.25em;
	padding: 1% 5%;
	margin-bottom: 2%;
}

.left {
	text-align: left;
	float: left;
	font-weight: bold;
	color: #F2C44C;
}

.right {
	text-align: right;
	float: right;
	font-style: italic;
}

#editor {
	border-radius: 5px;
}

.toolbar {
	display: inline-block;
	border-radius: 5px;
	background-color: #262626;
	font-size: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

.slidersTable {
	margin: 0px auto;
	margin-bottom: 5%;
	width: 50%;
	padding: 5px;
	border-radius: 5px;
	background-color: #262626;
}

.slidersTable td {
	padding: 5px 0px;
}

.slidersTable td:first-child {
	width: 20%;
}

.slidersTable td:last-child {
	padding-right: 3%;
}

.tool-button {
	width: 30px;
	height: 30px;
	padding: 10px;
	transition: 0.3s all;
	filter: invert(100%);
}

.tool-button:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.tool-button:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.tool-button:hover {
	filter: invert(70%);
}

.selected {
	filter: invert(0%) !important;
	background-color: #CCCCCC;
}

.slider {
	-webkit-appearance: none;
	vertical-align: middle;
	width: 100%;
    height: 2px;
    background-color: #DEDEDE;
	background-image: linear-gradient(90deg, #F2C44C 0%, #F2C44C 100%, transparent 100%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

.hidden {
	display: none;
}
