
body {
	font-family: 'Muli', sans-serif;
	background-color: #535353;
	color: white;
	text-align: center;
	margin: 0px;
}

.header {
	background-color: #262626;
	font-size: 1.25em;
	padding: 12px 0px;
	margin-bottom: 2%;
}

.header .left {
	text-align: left;
	margin-left: 5%;
	float: left;
}

#title {
	font-weight: bold;
	color: #F2C44C;
}

.header .right {
	text-align: right;
	margin-right: 5%;
}

#help {
	font-style: italic;
}

#editor {
	border-radius: 5px;
}

.toolbar {
	display: inline-block;
	border-radius: 5px;
	background-color: #262626;
	font-size: 0px;
	margin: 15px 3px;
}

.sliders-table {
	margin: 5px auto;
	margin-bottom: 5%;
	width: 50%;
	padding: 5px;
	border-radius: 5px;
	background-color: #262626;
}

.sliders-table td {
	padding: 5px 0px;
}

.sliders-table td:first-child {
	width: 20%;
}

.sliders-table td:last-child {
	padding-right: 3%;
}

.tool-button {
	width: 30px;
	height: 30px;
	padding: 10px;
	transition: 0.3s all;
	filter: invert(100%);
}

.tool-button:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.tool-button:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.tool-button:hover {
	filter: invert(70%);
}

.selected {
	filter: invert(0%) !important;
	background-color: #CCCCCC;
}

.slider {
	-webkit-appearance: none;
	vertical-align: middle;
	width: 100%;
    height: 2px;
    background-color: #DEDEDE;
	background-image: linear-gradient(90deg, #F2C44C 0%, #F2C44C 100%, transparent 100%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}

.hidden {
	display: none;
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* The popup */
.popup .popuptext {
	visibility: hidden;
	width: 200px;
	background-color: white;
	color: black;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 0.9em;
	border-radius: 6px;
	padding: 10px 5px;
	position: absolute;
	z-index: 1;
	top: 200%;
	left: 50%;
	/* half width + double left padding */
	margin-left: -110px; 
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}

.popup .show {
	visibility: visible;
	animation: fadeIn 1s
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
